body {
    text-align: center;
    back
}

h1 {
    color: blue;
}

#menu {
    width: 109px;
    float: left;
    margin-top: 100px;
    margin-left: 0px;

    ul {
        text-align: left;
        list-style: none;
    }
}

#game {
    border: 5px solid green;
    display: inline-block;
    margin-left: 0px;

}


* {
    //border: 1px solid red;
}